<div class="jumbotron vertical-center">
  <div class="container conrainer-bg">
  <p id="notice"><%= notice %></p>
  <div class="text-center">
  <%= link_to 'Add Album', new_album_type_path, class:"btn btn-primary" %>
    <%#<button type="button" class="btn btn-primary">Upload</button> %>
  </div>
  <h2>Photo Albums</h2>
  <p>Create a photo album of your desire and store your memories.</p>
  <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p>

  <div class="row">
  <% @album_types.each do |album_type| %>
  <div class="col-md-4 space-bottom">
  <div class="card bg-warning">
      <div class="card-body">
      <%= link_to album_type_path(album_type), class:"btn btn-warning" do%>
        <img clss="album-backgrond" src="https://tinyurl.com/y89aujop" alt="Car Album" width="100%" height="200px">
          <p class="card-text text-center"><%= album_type.albumname %></p>
      <% end %>
      </div>
    </div>
    </div>
  <% end %>
  </div>
      <%#= select "obj", "test", @album_types.each_with_index.map {|name, index| [name,index]} %>

  <section class="gallery-section">
    <div id="gallery">
        <h2>Images from selected album</h2>
        <div class="row">
        <% @photo_attachments.each do |photo_attachment| %>
          <div class="col-md-3">
              <div class="photo photo-type-line">
                <a href="https://tinyurl.com/ycempqn6" class="photo-hover">
                    <div class="photo-info">
                      <div class="headline">Lorem Ipsum</div>
                      <div class="line"></div>
                      <div class="desc">In some speaking exams you have to talk about photos or pictures.
                      </div>
                    </div>
                    <div class="mask"></div>
                </a>
                <div class="photo-img">
                    <%= image_tag photo_attachment.avatar.url %>
                </div>
              </div>
          </div>
          <% end %>
        </div>
    </div>
  </section>
  </div>
</div>