<div class="jumbotron vertical-center">
<div class="container conrainer-bg">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @photo.image_file_name %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @photo.image_content_type %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @photo.image_file_size %>
</p>

<p>
  <strong>Author:</strong>
  <%= @photo.author %>
</p>

<p>
  <strong>Image:</strong>
  <%#= render @photo_attachment, image_tag @photo_attachment.avatar.url, alt: "Image") %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> 
<%= link_to 'Back', photos_path %>
</div>
</div>