<div class="jumbotron vertical-center">
<div class="container conrainer-bg">
<%= form_with(model: photo_attachment, local: true) do |form| %>
  <% if photo_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_attachment.errors.count, "error") %> prohibited this photo_attachment from being saved:</h2>

      <ul>
        <% photo_attachment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :photo_id %>
    <%= form.number_field :photo_id %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>